* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* background: red; */
  height: 100vh;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container button {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid hsl(180, 100%, 35%);
  background-color: hsl(90, 100%, 95%);
  transition: all 1s ease;
}
.container button:hover {
  cursor: pointer;
  transform: scale(1.1);
  background: hsl(180, 100%, 35%);
  border-color: hsl(90, 100%, 95%);
  color: hsl(90, 100%, 95%);
}
